{% extends "admin/base.html" %}
{% block content %}
<div>
    WELCOME TO SMASHSPORT SHOP
</div>

<div class="admin-nav-button" style="background-color: #46a546; height: 25px; width: 120px; border-radius: 5px; margin: 0 auto; text-align:
center; border: 15px;"><a style="text-decoration: none; color: #ffffff"
        href="/admin/product">PRODUCT</a></div>
<div class="admin-nav-button" style="background-color: #46a546; height: 25px; width: 120px; border-radius: 5px; margin: 0 auto; text-align:
center; border: 15px;"><a style="text-decoration: none; color: #ffffff" href="/admin/category">CATEGORY</a></div>
{% endblock %}