<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmashSport Shop</title>
</head>

<body>
<header style="height: 100px; background-color: #46a546">
    HEADER
</header>
<section style="height: 100px; background-color: #c09853; width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
    <div style="height: 100px; width: 20%; background-color: #0e90d2;">
        LEFT MENU
    </div>
    <div style="height: 100%; width: 50%; background-color: #0e90d2;">
        RIGHT MENU
    </div>
</section>
<footer style="height: 100px; background-color: #a9dba9">
    FOOTER
</footer>
</body>
</html>