{% extends "admin/base.html" %}
{% block content %}
<div class="form-header">MAT HANG</div>
<div class="form-container">
    <table class="table-grid">
        <thead style="background-color: coral">
        <!--<tr class="table-header">-->
        <tr>
            <th width="50px" height="auto">ID</th>
            <th width="250px" height="auto">PRODUCT</th>
            <th width="250px" height="auto">DES</th>
            <th width="120px" height="auto">IMAGE</th>
            <th width="150px" height="auto">PRICE</th>
            <th width="150px" height="auto">CATE</th>
            <th width="150px" height="auto">DISCOUNT</th>
            <th width="150px" height="auto">ACT</th>
            <!--<th width="150px" height="auto">EDITOR</th>-->
        </tr>
        </thead>
        <tbody>
        {% for pro in product %}
        <tr class="prd-data-row">
            <td width="50px" height="auto">{{ pro.id }}</td>
            <td width="250px" height="auto">{{ pro.name }}</td>
            <td width="250px" height="auto">{{ pro.description }}</td>
            <td width="120px" height="auto"><img style="width: 120px; height: 120px;" src="{{ pro.imageurl }}"></td>
            <td width="150px" height="auto">{{ pro.price }}</td>
            <td width="150px" height="auto">{{ pro.refcategory }}</td>
            <td width="150px" height="auto">{{ pro.refdiscount }}</td>
            <td width="150px" height="auto">{{ pro.active }}</td>
            <!--<td></td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<form id="form-item" class="input-form" method="post" action="{{ url_for('product_crud') }}">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" id="new-prd-id" name="new_prd_id" readonly></td>
            <td>Tên hàng</td>
            <td><input type="text" id="new-prd-name" name="new_prd_name"></td>
            <td>Giá</td>
            <td><input type="text" id="new-prd-price" name="new_prd_price"></td>
        </tr>
        <tr>
            <td>Loại hàng</td>
            <td width="250px">
                <select width="250px" id="new-prd-cat" name="new_prd_cat" >
                    {% for cat in category if cat.active == 1 and cat.refparent == 0 %}
                    <option value="{{ cat.id }}"> {{ cat.category }}</option>
                        {% for subcat in category if subcat.active == 1 and subcat.refparent == cat.id %}
                        <option value="{{ subcat.id }}"> ╚> {{ subcat.category }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </td>
            <td>Đợt khuyến mãi</td>
            <td width="150px">
                <select width="150px" id="new-prd-dis" name="new_prd_dis">
                    <option>123</option>
                    <option>123</option>
                    <option>123</option>
                    <option>123</option>
                    <option>123</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Mô tả</td>
            <td><textarea id="new-prd-des" name="new_prd_des" style="height: 100px"></textarea></td>
            <td>Hình ảnh</td>
            <td><img id="new-prd-img" name="new_prd_img" src="" height="100px" width="100px"><input type="button" value="uploadimage"></td>
        </tr>
        <tr>
            <td>Sử dụng</td>
            <td><input type="checkbox" id="new-prd-act" name="new_prd_act" checked></td>
        </tr>
        <td>
            <input type="button" id="create-prd" name="new_prd_type" value="C">
            <input type="button" id="update-prd" name="new_prd_type" value="U">
            <input type="button" id="delete-prd" name="new_prd_type" value="D">
        </td>
    </table>
</form>
{% endblock %}