{% extends "public/base.html" %}
{% block content %}
<section>
    <div class="policy-content">
        <h1>Đổi trả sản phẩm</h1>

        <p><strong>CH&Uacute; &Yacute; QUAN TRỌNG KHI TRẢ H&Agrave;NG:</strong></p>

        <p>+ Với kh&aacute;ch ở xa hoặc ship h&agrave;ng: Sẽ ho&agrave;n tiền&nbsp;khi sản phẩm được đặt h&agrave;ng v&agrave; mua online, hoặc ship h&agrave;ng
            (Phải c&oacute; giấy ship h&agrave;ng của h&atilde;ng vận chuyển kh&ocirc;ng qu&aacute; 7 ng&agrave;y).</p>

        <p>+ Với kh&aacute;ch mua trực tiếp cửa h&agrave;ng: Nếu qu&yacute; kh&aacute;ch mua sản phẩm ở cửa h&agrave;ng, Ch&uacute;ng t&ocirc;i sẽ cho
            qu&yacute;
            kh&aacute;ch <strong>đổi </strong>sản phẩm gi&aacute; trị tương đương , sản phẩm kh&ocirc;ng được qu&aacute; 7 ng&agrave;y (chưa sử dụng v&agrave;
            kh&ocirc;ng ho&agrave;n tiền).</p>

        <p>+ Khi đổi trả sản phẩm phải k&egrave;m theo phiếu bảo h&agrave;nh sản phẩm hoặc th&ocirc;ng tin bảo h&agrave;nh đ&atilde; lưu (Họ t&ecirc;n
            +
            Số điện thoại) .</p>

        <p>&nbsp;</p>

        <p><strong>BƯỚC 1: KIỂM TRA ĐIỀU KIỆN TRẢ H&Agrave;NG</strong></p>

        <p>Tất cả c&aacute;c sản phẩm thỏa tất cả c&aacute;c điều kiện sau v&agrave; kh&ocirc;ng thuộc danh s&aacute;ch sản phẩm kh&ocirc;ng được ho&agrave;n
            trả</p>

        <p>*Điều kiện:*</p>

        <p>- H&agrave;ng đổi trả trong v&ograve;ng 7 ng&agrave;y kể từ ng&agrave;y nhận h&agrave;ng&nbsp;</p>

        <p>&nbsp;- C&ograve;n trong t&igrave;nh trạng ban đầu, c&ograve;n tem, nh&atilde;n m&aacute;c - Chưa qua giặt, ủi hoặc bị bẩn, hư
            hỏng&nbsp;</p>

        <p>&nbsp;- Ho&agrave;n trả sản phẩm trong bao b&igrave; c&oacute; d&aacute;n m&atilde; sản phẩm b&ecirc;n ngo&agrave;i.</p>

        <p>&nbsp;- Ho&agrave;n trả sản phẩm c&ugrave;ng H&oacute;a đơn tại cửa h&agrave;ng</p>

        <p>*Sản phẩm kh&ocirc;ng được ho&agrave;n trả:*</p>

        <p>- Đ&atilde; sử dụng ( chỉ nhận bảo h&agrave;nh)&nbsp;</p>

        <p>&nbsp;- Lỗi do người sữ dụng ,&nbsp;Ngo&agrave;i trừ những lỗi do nh&agrave; SX</p>

        <p>&nbsp;-Sản phẩm giả &eacute;p nhiệt, simili giả da (qu&yacute; kh&aacute;ch kiểm tra kỹ trước khi mua)</p>

        <p>&nbsp;- C&aacute;c sản phẩm trong chương tr&igrave;nh khuyến m&atilde;i, giảm gi&aacute; kh&ocirc;ng &aacute;p dụng ch&iacute;nh s&aacute;ch
            trả h&agrave;ng.</p>

        <p>&nbsp;</p>

        <p><strong>BƯỚC 2: LỰA CHỌN H&Igrave;NH THỨC TRẢ H&Agrave;NG</strong></p>

        <p>* 1. Ho&agrave;n trả trực tiếp bằng tiền mặt*</p>

        <p>&nbsp;- Chỉ &aacute;p dụng khi qu&yacute; kh&aacute;ch trực tiếp đến ho&agrave;n trả sản phẩm tại cửa h&agrave;ng balohanghieu *</p>

        <p>&nbsp;2. Ho&agrave;n trả bằng tiền qua chuyển khoản ng&acirc;n h&agrave;ng*</p>

        <p>&nbsp;- Qu&yacute; kh&aacute;ch vui l&ograve;ng điền đầy đủ th&ocirc;ng tin t&agrave;i khoản của qu&yacute; kh&aacute;ch bao gồm:&nbsp;</p>

        <p>&nbsp;- Họ &amp; t&ecirc;n chủ t&agrave;i khoản:&nbsp;</p>

        <p>&nbsp;- Số t&agrave;i khoản ng&acirc;n h&agrave;ng:&nbsp;</p>

        <p>&nbsp;- T&ecirc;n ng&acirc;n h&agrave;ng (chi nh&aacute;nh):&nbsp;</p>

        <p>&nbsp;- Địa chỉ ng&acirc;n h&agrave;ng (chi nh&aacute;nh):</p>

        <p>V&agrave; gửi qua mail: <a href="mailto:balohanghieu@gmail.com">balohanghieu@gmail.com</a></p>

        <p>Ph&iacute; chuyển khoản (nếu c&oacute;) sẽ được trừ trực tiếp v&agrave;o gi&aacute; trị đơn h&agrave;ng ho&agrave;n trả.</p>

        <p><strong>Lưu &yacute;:</strong> Khi bạn đ&atilde; x&aacute;c nhận v&agrave; đồng &yacute; chọn 01 trong 02 h&igrave;nh thức nhận ho&agrave;n
            trả
            tr&ecirc;n, balohanghieu sẽ kh&ocirc;ng hỗ trợ nếu c&oacute; bất kỳ y&ecirc;u cầu thay đổi n&agrave;o.</p>

        <p>&nbsp;</p>

        <p><strong>BƯỚC 3: Đ&Oacute;NG G&Oacute;I SẢN PHẨM, CHỨNG TỪ V&Agrave; GỬI VỀ BALOHANGHIEU</strong></p>

        <p>Qu&yacute; kh&aacute;ch vui l&ograve;ng đ&oacute;ng g&oacute;i: *Sản phẩm ho&agrave;n trả + H&oacute;a đơn + Phiếu ho&agrave;n trả</p>
    </div>
</section>
{% endblock %}