{% extends "public/base.html" %}
{% block content %}
<section>
    <div class="policy-content">
        <h1>Ch&iacute;nh s&aacute;ch giao h&agrave;ng</h1>

        <p>BALOHANGHIEU &nbsp;lu&ocirc;n hướng đến việc cung cấp dịch vụ vận chuyển tốt nhất với mức ph&iacute; cạnh tranh cho tất cả c&aacute;c đơn h&agrave;ng
            m&agrave; Qu&yacute; kh&aacute;ch đặt với ch&uacute;ng t&ocirc;i. Ch&uacute;ng t&ocirc;i hỗ trợ giao h&agrave;ng tr&ecirc;n to&agrave;n
            quốc
            với ch&iacute;nh s&aacute;ch giao h&agrave;ng cụ thể như sau:</p>

        <p>1. PH&Iacute; GIAO H&Agrave;NG TẬN NH&Agrave;:</p>

        <p>BALOHANGHIEU &nbsp;&aacute;p dụng mức ph&iacute; giao h&agrave;ng mới theo bảng biểu ph&iacute; b&ecirc;n dưới cho tất cả c&aacute;c đơn h&agrave;ng
            được đặt th&agrave;nh c&ocirc;ng kể từ ng&agrave;y <strong>24/03/2014</strong>&nbsp;c&oacute; gi&aacute; trị đơn h&agrave;ng <strong>&lt;
                400.000 đồng</strong>. Với đơn h&agrave;ng <strong>&gt;400.000 VNĐ MIỄN PH&Iacute; VẬN CHUYỂN.</strong></p>

        <p>2. THỜI GIAN GIAO H&Agrave;NG:</p>

        <p><strong>A/ Nội th&agrave;nh HCM giao h&agrave;ng trong 24-48h. Ở xa muốn c&oacute; h&agrave;ng trong 24h b&ecirc;n nhận phải thanh to&aacute;n
            ph&iacute; ship 50.000Đ.</strong></p>

        <p>&nbsp;</p>

        <p><strong>B/ Về chuyển h&agrave;ng miễn ph&iacute; &nbsp;ngo&agrave;i HCM</strong></p>

        <p>&nbsp;</p>

        <p>BALOHANGHIEU sẽ vận chuyển h&agrave;ng trong thời gian thỏa thuận khi qu&yacute; kh&aacute;ch thực hiện đầy đủ c&aacute;c thủ tục đặt h&agrave;ng.
            Thời gian vận chuyển h&agrave;ng thường mất &iacute;t nhất 3 - 5 ng&agrave;y l&agrave;m việc (kh&ocirc;ng t&iacute;nh thứ bảy, chủ nhật
            hay c&aacute;c
            ng&agrave;y lễ tết).</p>

        <p>&nbsp;</p>

        <p>Trong trường hợp Qu&yacute; kh&aacute;ch chọn h&igrave;nh thức chuyển khoản qua ng&acirc;n h&agrave;ng hoặc thẻ t&iacute;n dụng, thời gian
            xử l&yacute;
            đơn h&agrave;ng sẽ được t&iacute;nh từ khi BALOHANGHIEU nhận được thanh to&aacute;n ho&agrave;n tất của Qu&yacute; kh&aacute;ch. Xin
            lưu &yacute; rằng BALOHANGHIEU bảo lưu quyền thay đổi thời gian giao h&agrave;ng m&agrave; kh&ocirc;ng cần b&aacute;o trước trong trường
            hợp
            chịu ảnh hưởng của thi&ecirc;n tai hoặc c&aacute;c sự kiện đặc biệt kh&aacute;c.</p>

        <p>&nbsp;</p>

        <p>Đơn h&agrave;ng của Qu&yacute; kh&aacute;ch sẽ được giao tối đa trong 2 lần (trường hợp lần đầu giao h&agrave;ng kh&ocirc;ng th&agrave;nh c&ocirc;ng,
            sẽ c&oacute; nh&acirc;n vi&ecirc;n li&ecirc;n hệ để sắp xếp lịch giao h&agrave;ng lần 2 với Qu&yacute; kh&aacute;ch. Ch&uacute;ng t&ocirc;i
            sẽ
            cố gắng li&ecirc;n hệ lại trong 2 ng&agrave;y l&agrave;m việc tiếp theo (qua SMS hoặc gọi trực tiếp), trong trường hợp vẫn kh&ocirc;ng thể
            li&ecirc;n
            lạc lại được hoặc kh&ocirc;ng nhận được bất k&igrave; phản hồi n&agrave;o từ ph&iacute;a Qu&yacute; kh&aacute;ch, đơn h&agrave;ng sẽ kh&ocirc;ng
            c&ograve;n hiệu lực).</p>

        <p>&nbsp;</p>

        <p>Nếu sau 2 lần giao h&agrave;ng kh&ocirc;ng th&agrave;nh c&ocirc;ng, đơn h&agrave;ng của Qu&yacute; kh&aacute;ch sẽ được giữ tại Trung t&acirc;m
            giao nhận <a href="http://balohanghieu.com/" target="_blank">BALOHANGHIEU.COM</a>&nbsp;&nbsp;hoặc văn ph&ograve;ng c&ocirc;ng ty chuyển ph&aacute;t
            nhanh trong 2 ng&agrave;y l&agrave;m việc tiếp theo để Q&uacute;y kh&aacute;ch đến nhận &ndash; ph&iacute; vận chuyển (nếu c&oacute;)
            trong
            trường hợp n&agrave;y sẽ kh&ocirc;ng được trừ ra trong gi&aacute; trị thanh to&aacute;n của đơn h&agrave;ng. Qu&aacute; thời gian tr&ecirc;n,
            đơn h&agrave;ng sẽ kh&ocirc;ng c&ograve;n hiệu lực.</p>

        <p>&nbsp;</p>

        <p>Để kiểm tra th&ocirc;ng tin hoặc t&igrave;nh trạng đơn h&agrave;ng của Qu&yacute; kh&aacute;ch, xin vui long h&atilde;y sử dụng m&atilde;
            số
            đơn h&agrave;ng đ&atilde; được gửi trong thư x&aacute;c nhận của qu&yacute; kh&aacute;ch v&agrave; kiểm tra với bộ phận chăm s&oacute;c kh&aacute;ch
            h&agrave;ng.</p>

        <p>&nbsp;</p>

        <p>Khi h&agrave;ng được chuyển giao đến Qu&yacute; kh&aacute;ch, xin vui l&ograve;ng ho&agrave;n tất việc thanh to&aacute;n v&agrave; k&yacute;
            x&aacute;c
            nhận với nh&acirc;n vi&ecirc;n giao h&agrave;ng trước, sau đ&oacute; Qu&yacute; kh&aacute;ch vui l&ograve;ng kiểm tra nếu sản phẩm c&oacute;
            bất kỳ lỗi hay khiếm khuyết n&agrave;o. Xin Qu&yacute; kh&aacute;ch vui l&ograve;ng giữ lại bi&ecirc;n lại vận chuyển để kiểm tra.</p>

        <p>3. QUY ĐỊNH TRẢ H&Agrave;NG:</p>

        <p>BALOHANGHIEU &nbsp;hỗ trợ kh&aacute;ch h&agrave;ng ho&agrave;n trả sản phẩm 7 ng&agrave;y kể từ ng&agrave;y nhận h&agrave;ng. Để t&igrave;m
            hiểu quy định trả h&agrave;ng của BALOHANGHIEU, xin qu&yacute; kh&aacute;ch vui l&ograve;ng truy cập li&ecirc;n kết sau: <a
                    href="http://balohanghieu.com/tin-tuc/tin-tuc/doi-tra-san-pham-26.html" target="_blank">http://balohanghieu.com/tin-tuc/doi-tra-san-pham-26.html</a>
        </p>

        <p>4. PH&Acirc;N V&Ugrave;NG GIAO H&Agrave;NG:</p>

        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <tbody>
            <tr>
                <th>Th&agrave;nh phố/ Quận / Huyện / Thị x&atilde;</th>
                <th>Ph&iacute; giao h&agrave;ng</th>
            </tr>
            <tr>
                <td>Quận 1</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 2</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 3</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 4</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 5</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 6</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 7</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 8</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 9</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 10</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 11</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận 12</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận G&ograve; Vấp</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận Ph&uacute; Nhuận</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận T&acirc;n B&igrave;nh</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận T&acirc;n Ph&uacute;</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận Thủ Đức</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận B&igrave;nh T&acirc;n</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Quận B&igrave;nh Thạnh</td>
                <td>VND 20,000</td>
            </tr>
            <tr>
                <td>Huyện B&igrave;nh Ch&aacute;nh</td>
                <td>VND 40,000</td>
            </tr>
            <tr>
                <td>Huyện Nh&agrave; B&egrave;</td>
                <td>VND 40,000</td>
            </tr>
            <tr>
                <td>Huyện H&oacute;c M&ocirc;n</td>
                <td>VND 40.000</td>
            </tr>
            <tr>
                <td>Huyện Cần Giờ</td>
                <td>VND 40,000</td>
            </tr>
            <tr>
                <td>Huyện Củ Chi</td>
                <td>VND 40,000</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}