{% extends "public/base.html" %}
{% block content %}
<section>
    <div class="policy-content">
        <h1>Ch&iacute;nh s&aacute;ch bảo h&agrave;nh</h1>

        <p>C&aacute;c sản phẩm tại balohanghieu.com được bảo h&agrave;nh miễn ph&iacute; 1-10 năm kể từ ng&agrave;y mua:</p>

        <blockquote>
            <p><strong>1</strong>. Nguy&ecirc;n phụ liệu hư hỏng, lỗi kỹ thuật của nh&agrave; sản xuất như: đường may bị lỗi, s&uacute;t chỉ, m&oacute;c
                kho&aacute; bị hư.</p>

            <p><strong>2</strong>. C&ograve;n trong thời hạn bảo h&agrave;nh, c&oacute; phiếu bảo h&agrave;nh v&agrave; thẻ m&atilde; số ho&aacute;
                đơn
                hợp lệ&nbsp;</p>

            <p><strong>3</strong>. Đặc biệt trong thời gian bảo h&agrave;nh, nếu d&acirc;y k&eacute;o &nbsp;bị hư hỏng do sử dụng đều được thay thế
                miễn
                ph&iacute;.</p>
        </blockquote>

        <p>&nbsp;</p>

        <p><strong>Lưu &yacute;:</strong></p>

        <blockquote>
            <p><strong>1</strong>. Ngoại trừ những hư hỏng do sử dụng bị m&ograve;n, r&aacute;ch, đứt, g&atilde;y, bể&hellip;&nbsp;hoặc do những thiệt
                hại
                ngẫu nhi&ecirc;n (giỏ, t&uacute;i, cặp bị rạch đứt hoặc bị m&oacute;c r&aacute;ch, ch&aacute;y&hellip;) hoặc những thiệt hại do thi&ecirc;n
                tai, khủng bố, ch&aacute;y nổ &hellip; Khi cần bảo h&agrave;nh xin Qu&yacute; kh&aacute;ch vui l&ograve;ng l gởi đến TRUNG T&Acirc;M
                BẢO H&Agrave;NH
                &amp; CHĂM S&Oacute;C KH&Aacute;CH H&Agrave;NG <a href="http://balohanghieu.com/" target="_blank">balohanghieu.com</a> (Địa chỉ: 25/18
                T&ocirc;n
                Thất T&ugrave;ng, Phường Phạm Ngũ L&atilde;o, Quận 1, HCM), k&egrave;m theo phiếu TH&Ocirc;NG TIN BẢO H&Agrave;NH của sản phẩm.</p>

            <p><strong>2</strong>. C&ocirc;ng ty kh&ocirc;ng chịu tr&aacute;ch nhiệm về những sản phẩm đ&atilde; bị chỉnh sửa, thay đổi hoặc giả ho&aacute;
                đơn.</p>
        </blockquote>

        <p>&nbsp;</p>

        <p><strong>Mẫu phiếu bảo h&agrave;nh hợp lệ do balohanghieu.com ph&aacute;t h&agrave;nh:</strong></p>

        <p><img alt="phiếu bảo hành tại shop balohanghieu.com"
                src="http://balohanghieu.com/upload/news/HuongDanMuaHang/phieu-bao-hanh-shop-balo-hang-hieu.jpg" style="height:422px; width:500px"/>
        </p>

    </div>
</section>
{% endblock %}